@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'resources/themes/base';

body {

    main-panel {
        bottom:   0;
        height:   100%;
        left:     0;
        overflow: hidden;
        position: absolute;
        right:    0;
        top:      0;
        width:    100%;

    }

    router-view {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
}
