@import '../../themes/variables';

header-pane {
    align-items: center;
    background-color: $panel-bg;
    display: flex;
    flex: 0 0 auto;
    height: 30px;

    .page-title {
        color: $section-title-color;
        font-size: $font-size-title;
        font-weight: 500;
        padding: 0 $padding-thick;
        user-select: none;
    }

    button {
        height: $input-height;
    }

    .output-folder {
        margin-left: auto;

        > label {
            margin: 0;
            margin-right: $margin-med;
        }
    }

    > *:last-child {
        margin-right: $margin-med;
    }
}
