@import '../../themes/variables';

.manage-folders-contents {
    overflow-y: auto;
    padding: $padding-x-thick;
    padding-right: 0;

    ul {
        cursor: pointer;
        padding-left: 0;

        li {
            list-style-type: none;
            padding: $padding-med $padding-thick;
            user-select: none;

            &:hover {
                background-color: $selection-color;
                color: $selection-text-color;
            }
        }
    }

}
