@import '../../themes/variables';

settings-panel {
    display:        flex;
    flex-direction: column;
    height:         100%;
    margin-top:     $margin-med;

    .form-control {
        font-size: 1.1rem;
    }
    .container {
        height:     100%;
        overflow-y: auto;
    }

    input[type="number"] {
        width: 7.5rem;
    }

    select {
        max-width: 9rem;
    }

    .custom-radio {
        padding-left: 3rem;
    }

    .left-div {
        width: 40%;
        float: left;
    }

    .right-div {
        width: 60%;
        float:right;
        text-align: right;
        padding: 20px 0;
    }

    .range-slider {
        display:        flex;
        flex-direction: row;
        margin-bottom:  $margin-thick;

        > * {
            flex:    auto;
            display: inline-block;
        }

        .range-value {
            padding-left: $padding-thick;
        }
    }

    .footer-actions {
        border-top:     $panel-border;
        display:        flex;
        flex-direction: row-reverse;
        padding:        $padding-x-thick;

        button.btn {
            font-size: 1.1rem;
        }

        > * {
            margin-left: $margin-med;
        }
    }
}
