@import '../../themes/variables';

.system-settings {
    margin: $margin-thick;

    max-width: 50em;

    label {
        font-weight: bold;
    }

    .port-number {
        max-width:6rem;
    }

    .altPath-list {
        display: flex;
        flex-direction: column;
        max-height: 20rem;
        width: 30rem;

        string-list-view {
            margin-top: $margin-med;
        }
    }

    .java-path-group {
        display: flex;
        flex-direction: column;

        .java-selection {
            align-items: center;
            display: flex;

            file-input {
                margin-right: $margin-thick;
            }

            .jvm-path-message {
                color: $success;
                &.invalid {
                    color: $failure;
                }
            }

        }
    }

    .security-key-group {
        display: flex;
        flex-direction: column;

        .security-key {
            align-items: center;
            display: inline-flex;

            .security-key-value {
                font-size: $font-size-sm;
                margin-right: $margin-thick;
            }

            .generate-security-key {
                display: inline-flex;

                img {
                    height: 1.6rem;
                    margin-right: $margin-med;
                    width: 1.6rem;
                }
            }
        }
    }

    form {
        margin-bottom: $margin-thick * 3;
    }
}
