@import '../../themes/variables';

.welcome-panel-wrapper {
    background: $pallet-base-light;
    display: flex;
    flex-direction: column;
    height: 100%;

    .welcome-panel {

        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .card-wrapper {
            margin: $margin-thick;
            max-height: 21rem;
        }

    }

    .messaging-area {
        background: $valid-background;
        border-bottom: $fieldset-border;
        display: flex;
        flex-direction: row;
        height: 4.2rem;
        padding: $padding-x-thick;
        width: 100%;

        i {
            margin-right: $margin-med;
        }

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.with-error {
            background: $invalid-background;

            i {
                color: $failure;
            }
        }
    }
}

