@import '../../themes/variables';

card-panel {

    > div {
        align-items: center;
        background: $color-white;
        border: 2px $pallet-primary-medium solid;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 20rem;
        padding: 1rem;

        &.disabled {
            background-color: $button-bg-disabled;
            color: $button-color-disabled;
            cursor: not-allowed;

            img {
                opacity: 0.4;
            }
        }

        span {
            font-size: $font-size-title;
            margin-top: $margin-med;
            text-overflow: ellipsis;
        }

        &:hover {
            background-color: $pallet-base;
        }
    }
}
