@import '../../themes/variables';

connection-status {
    align-items: center;
    display: inline-flex;
    flex-direction: row;

    i {
        color: $failure;

        &.connected {
            color: $success;
        }
    }

}
