@import '../../themes/variables';


file-input {
    border: 1px solid $button-border-color;
    display: inline-flex;
    height: $input-height;
    padding: 0;
    padding-left: $padding-thick;

    &:hover {
        border-color: $button-color-hover;
    }

    .folder-frame {
        align-items: center;
        display: flex;
        min-width: 25rem;
        user-select: none;

        > * {
            flex: 0 0 auto;
        }

        .name,
        .placeholder-text {
            flex: 1 0 auto;
        }

        > span.disabled,
        > *:disabled {
            color: $input-disabled;
        }

        .placeholder-text {
            color: $input-disabled;
        }

        .sw-icon-cancel {
            color: $input-disabled;
            cursor: pointer;

            &:hover {
                color: $button-color-hover
            }
        }

        button {
            border-color: transparent;
            height: calc(#{$input-height} - 0.2rem);
            margin-left: auto;

            &:hover {
                border-color: transparent;
                border-left-color: $button-color-hover;
            }
            &:focus {
                box-shadow: none;
            }
        }
    }

    .inputFile {
        height: 0.1px;
        opacity: 0.001;
        position: absolute;
        width: 0.1px;
        z-index: -1;
    }
}
