@import 'variables';

input[type="range"] {
    outline: none;

    &:disabled {
        opacity: 0.4;
    }
}

html {
    font-size:   10px;
    font-family: Bookman, Helvetica, Arial;
}

body {
    bottom:    0;
    font-size: 1.2rem;
    height:    100%;
    margin:    0;
    position:  absolute;
    right:     0;
    width:     100%;
}

fieldset {
    border:        $fieldset-border;
    margin-bottom: $margin-med;
    padding:       $padding-thick;
}

legend {
    color: $legend-color;
    width: inherit;
}

.panel {
    background-color: $panel-bg;
}

.form-check {
    padding-left: 1.75rem;

    .form-check-input {
        margin-left: -1.75rem;
    }
}

.btn-primary {
    background-color: $button-bg-primary;
    border-color:     $button-bg-primary;

    &:disabled {
        background-color: $button-bg-disabled;
        color:            $button-color-disabled;
        border-color:     $button-bg;
    }

    &:hover {
        background-color: darken($button-bg-primary, 20%);
        border-color:     darken($button-bg-primary, 20%);
    }
}

.btn-secondary {
    background-color: $button-bg;
    color:            $button-color;
    border-color:     $button-bg;

    &:disabled {
        background-color: $button-bg-disabled;
        color:            $button-color-disabled;

        &:hover {
            background-color: $button-bg-disabled;
            color:            $button-color-disabled;
        }
    }

    &:hover {
        background-color: $button-bg-hover;
        color:            $button-color-hover;
    }
}

ux-dialog {
    > ux-dialog-footer {
        button.btn {
            font-size: 1.1rem;
            padding:   $padding-med $padding-x-thick;
        }
    }
}

ux-dialog-overlay {
    background-color: $panel-overlay;
    &.active {
        opacity: 0.3;
    }
}
