$color-gray: #ccc;
$color-gray-dark: #434343;
$color-blue: #005580;
$color-blue-bright: #0088f0;
$color-green: #21B04B;
$color-green-bright: #00e077;
$color-white: #fefefe;
$color-red: #aa0000;

$pallet-base-very-dark: $color-gray-dark;
$pallet-base-dark: #777;
$pallet-base-medium: #c9c9c9;
$pallet-base: #e3e3e3;
$pallet-base-light: #fafafa;
$pallet-primary: #6EC4A7;
$pallet-primary-medium: #647F94;
$pallet-primary-offset: #95AEC2;

$image-background: #121212;

$padding-x-thick: 1.0rem;
$padding-thick: 0.5rem;
$padding-med: 0.25rem;

$margin-thin: 0.25rem;
$margin-x-thin: 0.125rem;
$margin-med: .5rem;
$margin-thick: 1rem;

$input-margin: 0.25rem;
$input-fontsize: 1.1rem;
$input-height: 2.6rem;
$input-disabled: $pallet-base-medium;
$input-border-focus: $pallet-base-dark;
$input-border-color: $pallet-base-medium;
$input-toggle-color: $color-green;

$selection-color: $pallet-primary-medium;
$selection-text-color: $color-white;
$selection-highlight: $pallet-primary;

$section-bg: $pallet-base-light;
$section-title-bg: $pallet-base;
$section-title-color: $color-gray-dark;

$separator-border: 2px $pallet-base-medium solid;

$button-bg: $pallet-base-light;
$button-bg-disabled: $pallet-base;
$button-border-color: $pallet-base-medium;
$button-color: $pallet-base-very-dark;
$button-color-disabled: $pallet-base-medium;
$button-bg-hover: darken($button-bg, 10%);
$button-color-hover: darken($button-color, 10%);
$button-bg-primary: $pallet-primary-medium;

$fieldset-border: 1px $pallet-base-medium solid;

$legend-color: $pallet-primary-medium;

$panel-bg: $pallet-base-light;
$panel-border: 1px solid $pallet-base-medium;
$panel-overlay: $color-gray-dark;

$table-header-bg: $pallet-base-very-dark;
$table-header-color: $pallet-base-light;
$table-border: 2px $pallet-base-medium solid;
$table-row-border: 1px $pallet-base-medium solid;
$table-row-bg: $color-white;
$table-row-color: $color-gray-dark;
$table-row-hover-bg: $pallet-base;
$table-row-selected-bg: $pallet-primary-offset;
$table-row-selected-color: $selection-text-color;

$success: $pallet-primary;
$failure: $color-red;

$invalid-background: #ffd8d8;
$valid-background: #e2f3ed;

$font-size-base: 1.2rem;
$font-size-sm: $font-size-base * .75;
$font-size-title: 1.4rem;
