@import '../../themes/variables';

image-canvas {
    display: flex;
    height:  100%;

    .canvas-wrapper {
        background-color: $image-background;
        flex:             1 1 auto;
        height:           100%;
        overflow-y:       auto;
        overflow-x:       auto;
        width:            100%;
    }

}
